-- noinspection SqlNoDataSourceInspectionForFile

USE [master]
GO

/****** Object:  Database [dbMsNetflix]    Script Date: 27/04/2019 13:40:24 ******/
DROP DATABASE [dbMsNetflix]
GO

/****** Object:  Database [dbMsNetflix]    Script Date: 27/04/2019 13:40:24 ******/
CREATE DATABASE [dbMsNetflix]
  CONTAINMENT = NONE
  ON  PRIMARY
  ( NAME = N'MSNetflix', FILENAME = N'/var/opt/mssql/data/MSNetflix.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
  LOG ON
  ( NAME = N'MSNetflix_log', FILENAME = N'/var/opt/mssql/data/MSNetflix_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
  begin
    EXEC [dbMsNetflix].[dbo].[sp_fulltext_database] @action = 'enable'
  end
GO




USE [dbMsNetflix]
GO
/****** Object:  Table [dbo].[tbCatalogoUsuario]    Script Date: 19/04/2019 02:06:48 ******/
IF (EXISTS(SELECT 1 FROM sys.all_objects WHERE name = 'tbCatalogoUsuario'))
BEGIN
	DROP TABLE tbCatalogoUsuario
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCatalogoUsuario](
	[CatalogoUsuario_Id] [int] IDENTITY(1,1) NOT NULL,
	[catalog_Id] [int] NOT NULL,
	[usuario_id] [int] NOT NULL,
	[notaAvalida] [int] NULL,
	[AssitiuCompleto] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbCatalogoUsuarioAndamento]    Script Date: 19/04/2019 02:06:48 ******/
IF (EXISTS(SELECT 1 FROM sys.all_objects WHERE name = 'tbCatalogoUsuarioAndamento'))
BEGIN
	DROP TABLE tbCatalogoUsuarioAndamento
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCatalogoUsuarioAndamento](
	[CatalogoUsuarioAndamento] [int] IDENTITY(1,1) NOT NULL,
	[catalog_Id] [int] NOT NULL,
	[usuario_id] [int] NOT NULL,
	[tempoDeFilme] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbCategoria]    Script Date: 19/04/2019 02:06:48 ******/
IF (EXISTS(SELECT 1 FROM sys.all_objects WHERE name = 'tbCategoria'))
BEGIN
	DROP TABLE tbCategoria
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCategoria](
	[categoria_id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbCatologo]    Script Date: 19/04/2019 02:06:48 ******/
IF (EXISTS(SELECT 1 FROM sys.all_objects WHERE name = 'tbCatologo'))
BEGIN
	DROP TABLE tbCatologo
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCatologo](
	[catalog_Id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](255) NULL,
	[produtor] [varchar](255) NULL,
	[dataLancamento] [datetime] NULL,
	[diretor] [varchar](100) NULL,
	[elenco] [varchar](max) NULL,
	[categoria_id] [int] NOT NULL,
	[link] [varchar](100) NULL,
	[Duracao] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbGenero]    Script Date: 19/04/2019 02:06:48 ******/
IF (EXISTS(SELECT 1 FROM sys.all_objects WHERE name = 'tbGenero'))
BEGIN
	DROP TABLE tbGenero
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbGenero](
	[genero_Id] [int] IDENTITY(1,1) NOT NULL,
	[genero] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbGeneroCatalogo]    Script Date: 19/04/2019 02:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbGeneroCatalogo](
	[GeneroCatalogo_Id] [int] IDENTITY(1,1) NOT NULL,
	[genero_Id] [int] NOT NULL,
	[catalog_Id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUsuario]    Script Date: 19/04/2019 02:06:48 ******/
IF (EXISTS(SELECT 1 FROM sys.all_objects WHERE name = 'tbUsuario'))
BEGIN
	DROP TABLE tbUsuario
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUsuario](
	[usuario_id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbCatalogoUsuario] ON 

INSERT [dbo].[tbCatalogoUsuario] ([CatalogoUsuario_Id], [catalog_Id], [usuario_id], [notaAvalida], [AssitiuCompleto]) VALUES (1, 1, 1, 8, 1)
INSERT [dbo].[tbCatalogoUsuario] ([CatalogoUsuario_Id], [catalog_Id], [usuario_id], [notaAvalida], [AssitiuCompleto]) VALUES (2, 2, 2, 9, 1)
INSERT [dbo].[tbCatalogoUsuario] ([CatalogoUsuario_Id], [catalog_Id], [usuario_id], [notaAvalida], [AssitiuCompleto]) VALUES (3, 3, 3, 3, 0)
SET IDENTITY_INSERT [dbo].[tbCatalogoUsuario] OFF
SET IDENTITY_INSERT [dbo].[tbCatalogoUsuarioAndamento] ON 

INSERT [dbo].[tbCatalogoUsuarioAndamento] ([CatalogoUsuarioAndamento], [catalog_Id], [usuario_id], [tempoDeFilme]) VALUES (1, 1, 2, N'1:05:35')
INSERT [dbo].[tbCatalogoUsuarioAndamento] ([CatalogoUsuarioAndamento], [catalog_Id], [usuario_id], [tempoDeFilme]) VALUES (2, 3, 1, N'0:40:12')
INSERT [dbo].[tbCatalogoUsuarioAndamento] ([CatalogoUsuarioAndamento], [catalog_Id], [usuario_id], [tempoDeFilme]) VALUES (3, 1, 3, N'0:15:10')
SET IDENTITY_INSERT [dbo].[tbCatalogoUsuarioAndamento] OFF
SET IDENTITY_INSERT [dbo].[tbCategoria] ON 

INSERT [dbo].[tbCategoria] ([categoria_id], [nome]) VALUES (1, N'Filme')
INSERT [dbo].[tbCategoria] ([categoria_id], [nome]) VALUES (2, N'Serie')
INSERT [dbo].[tbCategoria] ([categoria_id], [nome]) VALUES (3, N'Documentarios')
SET IDENTITY_INSERT [dbo].[tbCategoria] OFF
SET IDENTITY_INSERT [dbo].[tbCatologo] ON 

INSERT [dbo].[tbCatologo] ([catalog_Id], [nome], [produtor], [dataLancamento], [diretor], [elenco], [categoria_id], [link], [Duracao]) VALUES (2, N'Jurassic Park III', N'Fox Filmes', CAST(N'2018-01-04T00:00:00.000' AS DateTime), N'Joe Johnston', N'Sam Neill, William H. Macy, Téa Leoni', 1, N'www.fox.com', N'1 Hora 28 Minutos')
INSERT [dbo].[tbCatologo] ([catalog_Id], [nome], [produtor], [dataLancamento], [diretor], [elenco], [categoria_id], [link], [Duracao]) VALUES (3, N'Rambo: First Blood Part II', N'paris filmes', CAST(N'1985-01-09T00:00:00.000' AS DateTime), N'George P. Cosmatos', N'Sylvester Stallone, Steven Berkoff, Charles Napier, Julia Nickson, Richard Crenna', 1, N'www.filmes.com', N'1 Hora 35 Minutos')
SET IDENTITY_INSERT [dbo].[tbCatologo] OFF
SET IDENTITY_INSERT [dbo].[tbGenero] ON 

INSERT [dbo].[tbGenero] ([genero_Id], [genero]) VALUES (1, N'Ação')
INSERT [dbo].[tbGenero] ([genero_Id], [genero]) VALUES (2, N'Aventura')
INSERT [dbo].[tbGenero] ([genero_Id], [genero]) VALUES (3, N'Comedia')
SET IDENTITY_INSERT [dbo].[tbGenero] OFF
SET IDENTITY_INSERT [dbo].[tbGeneroCatalogo] ON 

INSERT [dbo].[tbGeneroCatalogo] ([GeneroCatalogo_Id], [genero_Id], [catalog_Id]) VALUES (1, 1, 1)
INSERT [dbo].[tbGeneroCatalogo] ([GeneroCatalogo_Id], [genero_Id], [catalog_Id]) VALUES (2, 1, 2)
INSERT [dbo].[tbGeneroCatalogo] ([GeneroCatalogo_Id], [genero_Id], [catalog_Id]) VALUES (3, 2, 2)
SET IDENTITY_INSERT [dbo].[tbGeneroCatalogo] OFF
SET IDENTITY_INSERT [dbo].[tbUsuario] ON 

INSERT [dbo].[tbUsuario] ([usuario_id], [nome]) VALUES (1, N'Lucas')
INSERT [dbo].[tbUsuario] ([usuario_id], [nome]) VALUES (2, N'Agnaldo')
INSERT [dbo].[tbUsuario] ([usuario_id], [nome]) VALUES (3, N'Mauricio')
SET IDENTITY_INSERT [dbo].[tbUsuario] OFF


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbHelpDesk](
				[id] [int] IDENTITY(1,1) NOT NULL,
				[usuario_id] [int] NOT NULL,
				[dataCriacao] [datetime] NOT NULL DEFAULT GETDATE(),
				[descricao] NVARCHAR(MAX) NOT NULL,
				[solucao] NVARCHAR(MAX) NULL,
				[dataConclusao] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbHelpDesk] ON